<div class="flex flex-col h-dvh w-dvw">
  <header
    class="w-full border-b-2 border-b-zinc-300 shadow-lg h-20 bg-zinc-200 flex items-center justify-center shrink-0"
  >
    <h1 class="font-sans text-4xl">mqChat</h1>
  </header>
  <main class="grow bg-zinc-100 flex flex-col-reverse overflow-scroll">
    <ul>
      <li class="border-t-2 font-sans flex flex-col p-4 shrink">
        <div class="flex flex-row justify-between items-start">
          <div class="font-bold text-sm">SaltySNCO</div>
          <div class="font-light text-sm text-zinc-500">3/13 &#64; 17:05</div>
        </div>
        <p class="text-sm">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, hic
          dolorem! Quasi expedita earum saepe mollitia, odit neque nisi debitis
          quod aperiam quo officia, nam, optio quidem dolores cum nostrum.
        </p>
      </li>
      <li class="border-t-2 font-sans flex flex-col p-4 shrink">
        <div class="flex flex-row justify-between items-start">
          <div class="font-bold text-sm">AirForceDude</div>
          <div class="font-light text-sm text-zinc-500">3/13 &#64; 17:08</div>
        </div>
        <p class="text-sm">So true!</p>
      </li>
      <li class="border-t-2 font-sans flex flex-col p-4 shrink">
        <div class="flex flex-row justify-between items-start">
          <div class="font-bold text-sm">TheFewTheProdTheVoluntold</div>
          <div class="font-light text-sm text-zinc-500">3/13 &#64; 17:10</div>
        </div>
        <p class="text-sm">
          I can complain all I want in here and nobody will know it's me, Airman
          Snuffy
        </p>
      </li>
      <li class="border-t-2 font-sans flex flex-col p-4 shrink">
        <div class="flex flex-row justify-between items-start">
          <div class="font-bold text-sm">CrustyTSgt</div>
          <div class="font-light text-sm text-zinc-500">3/13 &#64; 17:10</div>
        </div>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          corporis odio dolore ea vitae quae id, possimus ab, delectus dicta
          voluptas? Unde iure beatae assumenda, reprehenderit earum eius
          exercitationem? Culpa.
        </p>
      </li>
      <li class="border-t-2 font-sans flex flex-col p-4 shrink">
        <div class="flex flex-row justify-between items-start">
          <div class="font-bold text-sm">TheFewTheProdTheVoluntold</div>
          <div class="font-light text-sm text-zinc-500">3/13 &#64; 17:10</div>
        </div>
        <p class="text-sm">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit eum adipisci cumque commodi facere, doloremque earum
          excepturi omnis sunt quam harum, dolor aliquid unde, eaque quidem
          magni fugiat maxime ducimus!
        </p>
      </li>
      <li class="border-t-2 font-sans flex flex-col p-4 shrink">
        <div class="flex flex-row justify-between items-start">
          <div class="font-bold text-sm">SaltySNCO</div>
          <div class="font-light text-sm text-zinc-500">3/13 &#64; 17:10</div>
        </div>
        <p class="text-sm">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit eum adipisci cumque commodi facere, doloremque earum
          excepturi omnis sunt quam harum, dolor aliquid unde, eaque quidem
          magni fugiat maxime ducimus!
        </p>
      </li>
    </ul>
    <div class="w-full h-24 flex items-center justify-center p-8">
      <button class="w-32 h-12 bg-zinc-500 text-white shadow rounded font-sans">
        Load More
      </button>
    </div>
  </main>
  <footer>
    <div class="p-8 border bg-zinc-200 border-t-zinc-300 border-t-2 shrink-0">
      <label
        for="comment"
        class="block text-sm font-medium leading-6 text-gray-900 font-sans"
        >Say Something</label
      >
      <div class="mt-2">
        <div class="flex gap-x-4">
          <textarea
            rows="4"
            name="comment"
            id="comment"
            class="block font-sans w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6"
          ></textarea>
          <button
            class="h-32 w-32 rounded-lg font-sans bg-zinc-50 text-black shadow-lg border border-zinc-300"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </footer>
</div>
<router-outlet />
